@font-face
  font-family: 'Jost'
  src: local('Jost Black'), local('Jost-Black'), url('/fonts/Jost-Black.ttf')
  font-weight: 900
  font-display: fallback
  font-style: normal

@font-face
  font-family: 'Jost'
  src: local('Jost Bold'), local('Jost-Bold'), url('/fonts/Jost-Bold.ttf')
  font-weight: 700
  font-display: fallback
  font-style: normal

@font-face
  font-family: 'Jost'
  src: local('Jost Medium'), local('Jost-Medium'), url('/fonts/Jost-Medium.ttf')
  font-weight: 500
  font-display: fallback
  font-style: normal
