@font-face
  font-family: 'Jost'
  src: local('Jost*'), url('/fonts/Jost-VF.woff2')
  font-weight: 100 900
  font-display: fallback

@font-face
  font-family: 'Source Sans'
  src: local('Source Sans 3 VF'), url('/fonts/SourceSans-Roman.woff2')
  font-weight: 200 900
  font-display: fallback
