.grid-container
  &--application-header
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 1rem
    .column
      display: flex
      flex-direction: column
  &--application
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 3rem
    margin-bottom: 3rem !important
    .column--application
      font-size: 1.125rem
      display: flex
      flex-direction: column
      align-items: flex-start
      .note
        color: #aaa
        margin-top: auto
  &--models
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 0.125rem
  &--posts
    max-width: $container-max-width-large-desktop !important
    .post-card
      margin-bottom: 5rem
      &:last-child
        margin-bottom: 0
  &--model-header
    display: flex
    align-items: center
    padding-top: 1rem
    .display-text
      margin-bottom: 0
    .button-group
      margin-left: auto
  &--model-description
    display: grid
    grid-template-columns: 1fr 350px
    grid-gap: 1rem
    .tags-container
      display: flex
      align-items: center
      flex-wrap: wrap
  &--our-features
    margin: 5rem auto !important
    .row
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 3rem
      margin-bottom: 3rem

body.no-scroll
  .grid-container
    &--slider-full-width
      max-width: 100vw !important

@media (min-width: $breakpoint-large-desktop) and (max-width: $breakpoint-huge-desktop - 1px)
  .grid-container
    &--application
      .column--application
        font-size: 1rem

@media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large-desktop - 1px)
  .grid-container
    &--application-header
      height: 100%
    &--application
      .column--application
        font-size: 1rem
    &--posts
      max-width: $container-max-width-desktop !important
    &--models
      grid-template-columns: repeat(4, 1fr)

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1px)
  .grid-container
    &--slider-full-width
      padding: 0
    &--our-features
      margin: 1rem auto !important
      .row
        grid-gap: 1rem
        margin-bottom: 1rem
    &--application-header
      height: 100%
    &--application
      .column--application
        font-size: 1rem
    &--posts
      max-width: $container-max-width-tablet !important
      margin: 0 auto
    &--models
      grid-template-columns: repeat(3, 1fr)
    &--model-header
      flex-direction: column
      .button-group
        margin: 1rem auto 0
    &--model-description
      grid-template-columns: 1fr 0.5fr

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet - 1px)
  .grid-container
    &--slider-full-width
      padding: 0 !important
    &--our-features
      margin: 1rem auto !important
      .row
        grid-template-columns: none
        grid-template-rows: 1fr
        grid-gap: 1rem
        margin-bottom: 1rem
    &--application-header
      height: 100%
      grid-template-columns: none
      grid-template-rows: 1fr
      .column
        &:last-child
          grid-area: (1 / 1)
    &--application
      grid-template-columns: repeat(1, 1fr)
      .column--application
        font-size: 1rem
    &--posts
      max-width: $container-max-width-tablet !important
      margin: 0 auto
    &--models
      grid-template-columns: repeat(1, 1fr)
    &--model-header
      padding-top: 1rem !important
      flex-direction: column
      .button-group
        flex-direction: column
        width: 100%
        margin: 1rem auto 0
        .dropdown
          width: 100%
          margin: 0
        .button
          width: 100%
          margin: 0 0 0.5rem
    &--model-description
      grid-template-columns: none
      grid-template-rows: 1fr

@media (min-width: $breakpoint-landscape-phone) and (max-width: $breakpoint-tablet - 1px)
  .grid-container
    &--models
      grid-template-columns: repeat(2, 1fr)
