.input
  width: 100%
  border: 0.125rem solid var(--text-color)
  border-radius: $border-radius
  padding: 0.25rem 0.5rem
  color: var(--text-color)
  &:focus
    border-color: var(--primary)
    outline: none
