@media (min-width: $breakpoint-modern-desktop)
  .top-block__container,
  .navbar__container,
  .slide__container,
  .grid-container,
  .footer__container,
  .categories__container
    max-width: $container-max-width-modern-desktop
    margin: 0 auto
  .featured-categories
    max-width: $container-max-width-modern-desktop
    min-height: ($container-max-width-modern-desktop - 8px) / 2 !important
  .slide__content
    .title
      font-size: 4.5rem

@media (min-width: $breakpoint-huge-desktop) and (max-width: $breakpoint-modern-desktop - 1px)
  .top-block__container,
  .navbar__container,
  .slide__container,
  .grid-container,
  .footer__container,
  .categories__container
    max-width: $container-max-width-huge-desktop
    margin: 0 auto
  .featured-categories
    max-width: $container-max-width-huge-desktop
    min-height: ($container-max-width-huge-desktop - 8px) / 2 !important

@media (min-width: $breakpoint-large-desktop) and (max-width: $breakpoint-huge-desktop - 1px)
  body
    font-size: 0.875rem
  h1
    font-size: 2.25rem
  h3
    font-size: 1.5rem

  .top-block__container,
  .navbar__container,
  .slide__container,
  .grid-container,
  .footer__container,
  .categories__container
    max-width: $container-max-width-large-desktop
    margin: 0 auto
  .featured-categories
    max-width: $container-max-width-large-desktop
    min-height: ($container-max-width-large-desktop - 8px) / 2 !important

@media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large-desktop - 1px)
  body
    font-size: 0.875rem
  h1
    font-size: 2.25rem
  h3
    font-size: 1.5rem

  .top-block__container,
  .navbar__container,
  .slide__container,
  .grid-container,
  .footer__container,
  .categories__container
    max-width: $container-max-width-desktop
    margin: 0 auto
  .featured-categories
    max-width: $container-max-width-desktop
    min-height: ($container-max-width-desktop - 8px) / 2 !important

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1px)
  body
    font-size: 0.875rem
  h1
    font-size: 2.25rem
  h3
    font-size: 1.5rem

  .top-block__container,
  .navbar__container,
  .slide__container,
  .grid-container,
  .footer__container,
  .categories__container
    max-width: $container-max-width-tablet
    margin: 0 auto
  .categories__container
    max-width: 100%
    margin: 0 auto
  .featured-categories
    max-width: $container-max-width-tablet
    min-height: ($container-max-width-tablet - 8px) / 2 !important

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet - 1px)
  body
    font-size: 0.875rem
  h1
    font-size: 2.25rem
  h3
    font-size: 1.5rem

  .top-block__container,
  .navbar__container,
  .slide__container,
  .grid-container,
  .footer__container,
  .categories__container
    padding: 0 $padding-mobile
    margin: 0 auto
  .categories__container
    padding: 0
    max-width: 100%
    margin: 0 auto
  .featured-categories
    min-height: ($container-max-width-phone - 8px) / 2 !important
