.swiper-button
  &-next, &-prev
    background-color: var(--primary)
    border-radius: $border-radius
    color: #fff
    width: 3rem
    height: 3rem
    &:after
      font-size: 2rem

.swiper-pagination
  &-bullets
    bottom: 1rem !important
    .swiper-pagination-bullet
      border-radius: $border-radius
      width: 2rem
      height: 0.25rem
      &-active
        background-color: var(--primary)
