.display-text
  text-transform: uppercase
  font-weight: 900
  line-height: 1.15
  margin-bottom: 1rem
  color: $white
  span
    display: inline
    background: var(--primary)
    box-shadow: 10px 0 0 var(--primary), -10px 0 0 var(--primary)
    box-decoration-break: clone
  &--h1
    font-size: 4.25rem
  &--h2
    font-size: 3rem
    line-height: 1
  &--h3
    font-size: 2.5rem
    line-height: 1
  &--h4
    font-size: 1.75rem
    line-height: 1
