// Dark theme
$darkGray: #2e3131
$darkGrayLighter: lighten($darkGray, 5%)
$darkGrayAlt: darken($darkGray, 5%)

// Light theme
$lightGray: #e8ecf1
$lightGrayLighter: lighten($lightGray, 3%)
$lightGrayAlt: darken($lightGray, 5%)
$lightThemeColor: #006FCC
$lightThemeColorAlt: #299EFF

$white: #ffffff
$black: #000000

$border-radius: 0.25rem
$border-radius-large: 0.5rem

$grid-gap-large: 0.5rem

$grid-breakpoints: (xs: 0,sm: 576px,md: 768px,lg: 992px,xl: 1200px,xxl: 1400px)
$container-max-widths: (sm: 540px,md: 720px,lg: 960px,xl: 1140px,xxl: 1320px)

$grid-gap-large: 0.5rem

$grid-breakpoints: (xs: 0,sm: 576px,md: 768px,lg: 992px,xl: 1200px,xxl: 1400px)
$container-max-widths: (sm: 540px,md: 720px,lg: 960px,xl: 1140px,xxl: 1320px)
