@import 'reset'

@import 'variables'
@import 'fonts'

@import 'themes/dark'
@import 'themes/light'

@import 'vue-slider'

@import 'typography'

body
  font-family: $fontStandard
  overflow-x: hidden
  &.no-scroll
    overflow: hidden
    padding-right: var(--scrollbar-width)
    .app
      overflow: hidden
.app
  min-height: 100vh
  max-width: 100vw
  overflow-x: hidden
  display: grid
  grid-template-rows: auto 1fr auto

.main
  max-width: 100vw
  overflow-x: hidden
  margin-bottom: 3rem
  &--full-height
    margin-bottom: 0

.jumbotron
  border-radius: 0
  position: relative
  &-model
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 400px
    h1
      position: relative
      z-index: 2
      color: $white
  &-cover
    position: absolute
    display: block
    z-index: 1
    width: 640px
    height: 640px
    pointer-events: none
    filter: brightness(0.6)
    &_lg
      z-index: 0
      top: -40px
      left: -40px
      width: calc(100vw + 80px)
      height: calc(100% + 80px)
      object-fit: cover
      object-position: 50%
      filter: blur(20px) brightness(0.5)

.dropdown-menu
  z-index: 1030

.model-view__nav-link
  display: flex
  align-items: center
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 1px
  cursor: pointer
  img
    display: block
    width: 2rem
    height: 2rem
    margin-right: 0.5rem
.model
  &-single
    .img-thumbnail
      width: 100%

.fade-enter-active,
.fade-leave-active
  transition: opacity 0.3s

.fade-enter,
.fade-leave-to
  opacity: 0


@import 'grid'
@import 'badge'
@import 'icon'
@import 'input'
@import 'table'
@import 'slider'

@import 'pages/index'
@import 'pages/models'
@import 'pages/application'
@import 'pages/api-docs'
@import 'pages/user-profile'
@import 'pages/error'

@import 'media'

@import 'utils'
