.loading__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--block-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  opacity: 0;
  visibility: collapse;
  &--without-background {
    background: none;
  }
}

.loading__container--visible {
  opacity: 1;
  visibility: visible;
}

.loading__container--slide {
  position: absolute;
  transition: opacity 1s ease;
  top: 0rem;
}

.loading__container--slide .spinner {
  margin-top: 0rem;
}

.spinner-wrapper {
  position: relative;
  width: 18rem;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-logo {
  animation: spinner-logo 1s infinite ease-in-out alternate;
  img {
    display: block;
    width: 13.5rem;
    border-radius: 50%;
    border: 0.35rem solid var(--theme-color);
  }
}

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 18rem;
  height: 18rem;
  display: grid;
  border: 0.35rem solid #0000;
  border-radius: 50%;
  border-right-color: $primary;
  animation: spinner-a4dj62 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 0.25rem;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
  margin: 14px;
  animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spinner-logo {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
