.index-programs
  &__container
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-gap: $grid-gap-large
    margin-top: 1rem
  &__heading, &__description
    display: block
    text-align: center
.program
  padding: 0.5rem
  height: calc(100% - 3rem)
  margin-bottom: 3rem
  background-color: var(--block-color)
  border: 0.125rem solid var(--primary)
  border-radius: $border-radius-large
  &--autodesk
    background-color: #60b4bf
    border-color: #60b4bf
    color: $white
  &--blender
    background-color: #bd6a2c
    border-color: #bd6a2c
    color: $white
  &--cinema4d
    background-color: #7542a8
    border-color: #7542a8
    color: $white
  &--unity
    background-color: $black
    border-color: $black
    color: $white
  &--unreal
    background-color: #14303c
    border-color: #14303c
    color: $white
  &__icon
    display: block
    width: 100%
    height: 190px
    object-fit: contain
    object-position: 50%
    margin-bottom: 1rem
    &.padded
      padding: 0.5rem
  &__title
    text-align: center
