.our-feature
  &__icon
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    border: $border-width-large solid $primary
    background: var(--block-color)
    aspect-ratio: 1 / 1
    font-size: 9rem
    margin: 2rem
    max-width: 18rem

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1px)
  .our-feature
    &__icon
      font-size: 5rem

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet - 1px)
  .our-feature
    &__icon
      margin: 2rem auto
