.model-card
  overflow: hidden
  position: relative
  background-color: var(--block-color)
  border: 0.125rem solid var(--primary)
  border-radius: $border-radius-large
  .image
    &__inner
      img
        display: block
        border-radius: $border-radius-large $border-radius-large 0 0
        width: 100%
        height: 100%
        object-fit: cover
        aspect-ratio: 1/1
  &__info
    display: flex
    flex-direction: column
    justify-content: flex-end
    color: var(--text-color)
    padding: 1rem
    .title
      font-size: 1.25rem
    .time
      display: flex
      align-items: center
      font-size: 1rem
      margin: 0
      svg
        width: 1rem
        margin-right: $grid-gap-large
  &__programs
    position: absolute
    top: $grid-gap-large * 2
    right: $grid-gap-large * 2
    padding: $grid-gap
    img
      display: block
      width: 2rem
      height: 2rem
      object-fit: contain
      margin-right: $grid-gap-large
      &:last-child
        margin-right: 0
  &__tags
    position: absolute
    top: $grid-gap-large * 2
    left: $grid-gap-large * 2
    display: flex
    flex-wrap: wrap
    align-items: center
    z-index: 1
    .tag
      margin-right: 0.25rem
      margin-bottom: 0.25rem
      &:last-child
        margin-right: 0
  &__actions
    opacity: 0
    position: absolute
    display: flex
    flex-direction: column
    top: 1rem
    left: 1rem
    pointer-events: none
    transition: opacity 0.3s ease
  &__statistics
    display: flex
    align-items: center
    flex-wrap: wrap
    .statistic
      margin-right: $grid-gap-large
      &:last-child
        margin-right: 0
  &--lite
    border: none
    border-radius: 0
    .image__inner
      img
        border-radius: 0
        transition: transform 0.3s ease
    .model-card
      &__info
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        pointer-events: none
        background-color: var(--block-color-gradient)
        backdrop-filter: blur(20px)
        transition: opacity 0.3s ease
        opacity: 0
    &:hover
      .image__inner
        img
          transform: scale(1.1)
      .model-card
        &__info
          opacity: 1
        &__actions
          opacity: 1
          pointer-events: all
  &--row
    display: flex
    align-items: center
    border: none
    background: none
    .image
      &__inner
        position: relative
        aspect-ratio: 16/9
        img
          object-fit: cover
          width: 75%
        &:before
          content: ''
          display: block
          position: absolute
          background: linear-gradient(to right, var(--block-color-gradient) 0%, var(--block-color) 70%)
          width: 100%
          height: 100%
          z-index: 1
    .model-card
      &__info
        position: absolute
        z-index: 1
        flex: 1 1 auto
        width: 100%
        height: 100%
      &__programs
        top: auto
        bottom: 0.5rem

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1px)
  .model-card
    &--related
      .image
        &__outer
          margin-right: -160px

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet - 1px)
  .model-card
    &--lite
      .model-card
        &__info
          padding: $grid-gap
          .title
            font-size: 1.125rem
          .time
            font-size: 0.875rem
        &__actions
          display: none
        &__programs
          top: $grid-gap
          right: $grid-gap
    &--related
      .image
        &__outer
          margin-right: -62.5vw
