.application__jumbotron
  margin-bottom: 1rem
  overflow: hidden
  padding: 3rem 0
  color: $white
  background: linear-gradient(to right, $lightThemeColor, darken($lightThemeColor, 20%))
  &-links
    margin-top: auto
    display: flex
    flex-direction: column
    .btn
      display: flex
      align-items: center
      margin-bottom: 0.5rem
      svg
        width: 2rem
        height: 2rem
        margin-right: 0.5rem
  .left
    display: flex
    flex-direction: column
    height: 100%
  .href
    color: $white
  &-image
    display: block
    width: 800px
    margin-right: -5rem
