.models
  &-view
    height: 100%
    padding-left: 400px
  &-grid
    display: grid
    grid-template-columns: repeat(auto-fill, 400px)
    gap: 1rem
    padding: 1rem
    .card
      .card-img-top
        height: 398px
  &-filter
    display: flex
    align-items: center
    background-color: var(--block-color-lighter)
    padding: 0 1rem
    flex-wrap: wrap
    &__title
      flex: 1 0 auto
      margin: 0.5rem 0
      font-size: 2rem
      color: var(--text-color)
    .form-control
      margin-left: 1rem
      flex: 0.25 1 auto
      width: auto
      &:first-child
        margin-left: 0
  &-info-card
    background-color: var(--block-color-alt)
    padding: 1rem
    .header
      background-color: var(--theme-color)
      color: $white
      margin: -1rem
      margin-bottom: 0
      padding: 1rem
      text-align: center
      text-transform: uppercase
      letter-spacing: 0.125rem
    .content
      padding-top: 1rem
      .table
        margin: 0
        color: var(--text-color)

.models
  &-header
    &__filters
      display: flex
      justify-content: flex-end
      align-items: center
      margin-bottom: $grid-gap-large
      .select
        max-width: 400px
      .button
        margin-left: $grid-gap-large

.model__description
  .description
    p
      margin-bottom: $grid-gap-large

@media (min-width: $breakpoint-desktop)
  .models
    &-header
      &__filters
        .button
          display: none
