.tag
  color: $white
  background-color: var(--primary)
  border-radius: $border-radius
  padding: 0.125rem 1rem
  cursor: pointer
  &--icon
    padding: 0.125rem
    display: flex
    justify-content: center
    align-items: center
    width: 28px
    height: 28px
    .svg-inline--fa
      width: 1.5rem
      height: 1.5rem
  &--primary
    background-color: $primary
    color: $white
  &--success
    background-color: $success
    color: $white
  &--danger
    background-color: $danger
    color: $white
  &--warning
    background-color: $warning
    color: $black
  &--onlyfans
    background-color: $matureNotice
    color: $white

.tag-group
  display: flex
  align-items: center
  flex-wrap: wrap
  .tag
    margin-right: 0.5rem
    &:last-child
      margin-right: 0
